<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Dodawanie nowego wpisu</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true" style="color: #fff">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Nazwa:</label>
        <input type="text" class="form-control" id="name" placeholder="Nazwa"
          [(ngModel)]="expense.name" required>
      </div>

      <div class="form-group">
        <label for="price">Koszt:</label>
        <input type="number" class="form-control" id="price" placeholder="Koszt"
          [(ngModel)]="expense.cost" required>
      </div>

      <div class="form-group">
        <label for="place">Miejsce naprawy / zakupu:</label>
        <input type="text" class="form-control" id="place" placeholder="Miejsce"
          [(ngModel)]="expense.place" required>
      </div>

      <div class="form-group">
        <label for="date">Data usługi:</label>
        <div class="input-group">
          <input class="form-control" placeholder="Data" id="date" data-date-format="yyyy-mm-dd"
                 [(ngModel)]="dateHelper" ngbDatepicker #d="ngbDatepicker">
          <button class="btn btn-outline-light" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
        </div>
      </div>

      <label class="control-label">Kategoria</label>
      <div class="form-group">
        <select class="form-control form-control-inline" [(ngModel)]="expense.categoryId" data-content=true>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button"
      class="btn btn-outline-light"
      (click)="addExpense(); modal.dismiss()"
      [disabled]="expense.name === '' || expense.cost < 1 || expense.place === ''"
      >Zapisz</button>
    </div>
  </ng-template>

<div class="col-md-12 text-center">
  <button class="btn btn-sm btn-outline-warning" (click)="open(content)">Dodaj nowy wpis</button>
</div>
