<ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Dodawanie nowej kategorii</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true" style="color: #fff">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="name">Nazwa:</label>
        <input type="text" class="form-control" id="name" placeholder="Nazwa"
          [(ngModel)]="category.name" required>
      </div>

      <label class="control-label">Kolor</label>
      <div class="form-group">
        <select class="form-control form-control-inline" [(ngModel)]="category.color">
            <option *ngFor="let color of colors | keyvalue" [value]="color.value">{{ color.key }}</option>
        </select>
      </div>

      </div>
    <div class="modal-footer">
      <button type="button"
      class="btn btn-outline-light"
      (click)="addCategory(); modal.dismiss()"
      [disabled]="category.name === '' || category.color === ''"
      >Zapisz</button>
    </div>
  </ng-template>

<div class="col-md-12 text-center">
  <button class="btn btn-sm btn-outline-warning" (click)="open(content)">Dodaj nową kategorię</button>
</div>
